doctype html
html(lang="en")
  head
    script(type='text/javascript', src='js/d3.min.js?__inline=true')
    script(type='text/javascript', src='js/lodash.min.js?__inline=true')
    link(rel='stylesheet', href='css/logo#{dotmin}.css?__inline=true')
  body
    #container
      #mirrors
    #vis
    script(type='text/javascript', src='js/logo#{dotmin}.js?__inline=true')
