extends ./layout.jade
block head
  link(rel='stylesheet', href='css/index#{dotmin}.css?__inline=true')

block container
  ul
    li
      a(href='dist/logo.html') Coolscope (8x8 mirror matrix)
    li
      a(href='dist/logo.16.html') Uberscope (16x16 mirror matrix)

  script(type='text/javascript', src='js/index#{dotmin}.js?__inline=true')

