doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Kaleideethree - D3 Kaleidescopes
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/all#{dotmin}.css?__inline=true')
    block head
  body
    #container
      block container

